.container {
    background-image: url(https://biblusi.ge/_nuxt/img/readtest.4ffc715.jpg);
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 120px; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.content h1 {
    font-size: 36px; 
    font-weight: 700; 
    color: #000; 
    margin-bottom: 20px; 
}

.content button {
    width: 180px;
    height: 50px;
    cursor: pointer;
    background-color: #084fa3; 
    color: #fff;
    border: none;
    padding: 10px 20px; 
    border-radius: 10px; 
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}

.content button a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
}
    