<div class="container">
    <div class="cards">
        <a href=""><img src="https://apiv1.biblusi.ge/storage/offers/FAArMXlF5GKJAwhLlf8W62QGVO991CRxU7XpbQmE.png" alt=""></a>
        <a href=""><img src="https://apiv1.biblusi.ge/storage/offers/ETon6teQLt47ucCNQLL3J3Wfz7gBuEaFN0ghoui7.png    " alt=""></a>
        <a href=""><img src="https://apiv1.biblusi.ge/storage/offers/FD7kNHzhCpuDyG4orL1QSOcKsjJ7zH2ivlv3bpkO.png" alt=""></a>
        <a href=""><img src="https://biblusi.ge/_nuxt/img/block-4.f61215c.png" alt=""></a>

    </div>
    <div class="slider">
        <swiper-container class="mySwiper" pagination="true">
            <swiper-slide *ngFor="let slide of slides">
                <img [src]="slide.img" alt=""></swiper-slide>
            
            
          </swiper-container>
    </div>
</div>