<div class="authors-container">
    <div class="head">
        <h1>გაიცანით ავტორები</h1>
        <button class="but1"><a routerLink="/allAuthors">მაჩვენე ყველა</a></button>

    </div>

    <div class="carousel">
        <swiper-container class="mySwiper" space-between="30" slides-per-view="auto"
    >
    <swiper-slide *ngFor="let main of authors">
        <div class="insidecontent" (click) = "viewauthor(main.id)">
            <div class="left">
                <h1 class="namez">{{main?.fullname}}</h1>
                <div class="span">
                  <span>{{main?.year_start}}</span>
                  <span>{{main?.country}}</span>
                </div>

            </div>
            <div class="imagecenter">
                <img [src]="main?.img" alt="">

            </div>
            <div class="right">
                <h1>ავტორის შესახებ</h1>
                <p>{{ main?.description | truncate: 40 }}</p>

            </div>
        </div>

    </swiper-slide>


   
  </swiper-container>

    </div>
</div>