<div class="body">
    <app-header></app-header>
    <div class="topside">
      <div class="content">
        <div class="image">
          <img src="https://apiv1.biblusi.ge/storage/category/X69Kgn71AL7J9l9NLQC9VoUndVb8ilKNQ80dNtPv.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="books">
      <div class="bookcontent" *ngFor="let data of youth">
        <div class="card" (click)="goToyouthBookDetail(data.id)" >
          <div class="first-content">
            <img [src]="data?.min_picture" alt="Book Image" />
            <div class="insidecontent">
              <h1>{{ data?.name | truncate: 20 }}</h1>
              <p><a href="">Rating: {{ data?.rate }}</a></p>
              <div class="price">
                <p class="value">{{ data?.p }} <span> ₾</span></p>
                <p class="icon">
                  <a href=""><i class="pi pi-shopping-bag"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
    </div>
    <div class="freespace"></div>

    <app-footer></app-footer>
  </div>
  