@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}